  .home {
    height:100vh;
    width:100%;
    background-color:$white;
    display:flex;

    @include respond(phone) {
      height:auto; 
      margin-top:10rem;
    }

    &__left {
      flex-basis:40%;
      background-image: url("./assets/man.png");
      background-size:contain;
      background-repeat:no-repeat;
      background-size:100% 100%;
      display:flex;
      flex-direction: column;
      align-items:center;
      justify-content: flex-end;
      text-align:center;

      h2 {
        @include fontBold(2.4rem,3.6rem,$white);
      }

    p {
          @include fontNormal(2.4rem,3.6rem,$white);
          width:70%;
          margin-bottom:2rem;
    }

      @include respond(phone) {
        flex-basis:0%;
        display:none;
      }
    }

    &__right{

      flex-basis:auto;
      flex-grow:1;
      flex-direction:column;
      @include flexCenter;
      padding-left:15.8rem;
      padding-right:15.8rem;

      @include respond(phone) {
        flex-basis:100%;
        padding-left:5rem;
        padding-right:5rem;
      }

      
    .footer {
      width:100%;
      padding-left:3rem;
      padding-right:3rem;
      background-color: red;
    }


      h2 ,p {
        align-self:flex-start;

        @include respond(phone) {
          align-self:center;
          text-align: center;
        }
      }

      h2 {
         margin-bottom:1.5rem;
      }
      
      p {
        margin-bottom:3.5rem;
      }
      
      form {
        width:100%;
        // height: 510px;
        background: $white;
        box-shadow: 0px 20px 50px #EAEEE9;
        border-radius: 5px;
        padding:5.5rem;
        display:flex;
        flex-direction:column;


        button  {
          width:50%;
          align-self:flex-end;
          text-align:center;
          @include flexCenter;

          @include respond(phone) {
            width:100%;
          }
        }


        .form__group {
            width:100%;
            display:flex;
            flex-direction:column;
            align-items:flex-start;

          .input__row {
            position:relative;
            width:100%;

            figure {
              position:absolute;
              top:.8rem;
              right:1rem;
              width:1rem;
              height:1rem;

              img {
                width:100%;
                height:100%;
              }
            }
          }
          

          label {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 2.2rem;
            color: #6A7E8A;
            margin-bottom:1rem;
          }

          input {
                width:100%;
                border:none;
                outline:none;
                border-bottom:1px solid #E6E7EB;
                @include fontNormal(2rem,2.5rem,#013C61);
                position:relative;
                margin-bottom:3rem;
                padding-bottom:1rem;

                &::-webkit-input-placeholder {
                    color: $blue2;
                }

                &:focus {
                    background-color:transparent;
                    color:$blue;
                    padding: 1rem 1.2rem;
                }
          }
        }
      }
    }

  }

  .row {
    display:flex;
    justify-content:space-between;

    @include respond(phone) { 
      flex-wrap:wrap;
    }

    .form__group {
      flex-basis:49%;

      @include respond(phone) {
        flex-basis:100%;
      }
    }
  }
