* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}



*,
*::before,
*::after {
    box-sizing:inherit;
}


html {
    box-sizing:border-box;
    font-size:62.5%; 
}

@media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%;
    }
}
  
 @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%;
    }
}
  
@media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%;
    }
}
  
@media only screen and (max-width: 37.5rem) {
    html {
      font-size: 40%;
    }
}


body {
    min-height:100vh;
    position:relative;
    font-weight:400;
    line-height:1.6;
    background-color:#fffbff;
} 

a {
    cursor:pointer;
    text-decoration:none;
}

@font-face {
    font-family: 'Montserrat';
    src:local('Montserrat.woff');
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    line-height:1.6;
} 


